<p id="notice"><%= notice %></p>

<p>
  <strong>Empresa:</strong>
  <%= @provider.empresa %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @provider.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @provider.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @provider.direccion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
