<<<<<<< HEAD
<%- model_class = Provider -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:empresa) %>:</strong></dt>
  <dd><%= @provider.empresa %></dd>
  <dt><strong><%= model_class.human_attribute_name(:nombre) %>:</strong></dt>
  <dd><%= @provider.nombre %></dd>
  <dt><strong><%= model_class.human_attribute_name(:telefono) %>:</strong></dt>
  <dd><%= @provider.telefono %></dd>
  <dt><strong><%= model_class.human_attribute_name(:direccion) %>:</strong></dt>
  <dd><%= @provider.direccion %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @provider.email %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              providers_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_provider_path(@provider), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              provider_path(@provider),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
=======
<p id="notice"><%= notice %></p>

<p>
  <strong>Empresa:</strong>
  <%= @provider.empresa %>
</p>

<p>
  <strong>Nombre:</strong>
  <%= @provider.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @provider.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @provider.direccion %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<%= link_to 'Edit', edit_provider_path(@provider) %> |
<%= link_to 'Back', providers_path %>
>>>>>>> a85857b70e0ab3c5ee42c62102cd2bf50984ba25
