<p id="notice"><%= notice %></p>

<p>
  <strong>Usuario:</strong>
  <%= @order_detail.usuario_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @order_detail.order_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @order_detail.product_id %>
</p>


<p>
  <strong>Importetotal:</strong>
  <%= @order_detail.importetotal %>
</p>

<p>
  <strong>Preciounitario:</strong>
  <%= @order_detail.preciounitario %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @order_detail.cantidad %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @order_detail.descuento %>
</p>

<%= link_to 'Edit', edit_order_detail_path(@order_detail) %> |
<%= link_to 'Back', order_details_path %>
