<%= form_for @order, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :usuario_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :usuario_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :client_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :client_id, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fechaPedido, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fechaPedido, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fechaEntrega, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fechaEntrega, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :fechaRealEntrega, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :fechaRealEntrega, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :estado, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :estado, :class => 'text_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orders_path, :class => 'btn' %>
  </div>
<% end %>
