<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
<<<<<<< HEAD
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this example_order from being saved:</h2>
=======
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>
>>>>>>> a85857b70e0ab3c5ee42c62102cd2bf50984ba25

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<<<<<<< HEAD
  
=======

  <div class="field">
    <%= f.label :usuario_id %><br>
    <%= f.number_field :usuario_id %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.number_field :client_id %>
  </div>
>>>>>>> a85857b70e0ab3c5ee42c62102cd2bf50984ba25
  <div class="field">
    <%= f.label :fechaPedido %><br>
    <%= f.datetime_select :fechaPedido %>
  </div>
  <div class="field">
    <%= f.label :fechaEntrega %><br>
    <%= f.datetime_select :fechaEntrega %>
  </div>
  <div class="field">
    <%= f.label :fechaRealEntrega %><br>
    <%= f.datetime_select :fechaRealEntrega %>
  </div>
<<<<<<< HEAD
  </div>
<% end %>

=======
  <div class="field">
    <%= f.label :estado %><br>
    <%= f.text_field :estado %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
>>>>>>> a85857b70e0ab3c5ee42c62102cd2bf50984ba25
