<h1>Listing promotions</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Cliente</th>
      <th>Descripcion</th>
      <th>Acuerdo</th>
      <th>Medio</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
        <td><%= promotion.usuario_id %></td>
        <td><%= promotion.client_id.nombre %></td>
        <td><%= promotion.descripcion %></td>
        <td><%= promotion.acuerdo %></td>
        <td><%= promotion.medio %></td>
        <td><%= link_to 'Show', promotion %></td>
        <td><%= link_to 'Edit', edit_promotion_path(promotion) %></td>
        <td><%= link_to 'Destroy', promotion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Promotion', new_promotion_path %>
