<h1>Lista de Producto</h1>

<table>
  <thead>
    <tr>
      <th>Isbn</th>
      <th>Nombre</th>
      <th>Cantidad</th>
      <th>Precio</th>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.isbn %></td>
        <td><%= product.nombre %></td>
        <td><%= product.cantidad %></td>
        <td><%= product.precio %></td>
        <td><%= product.category_id %></td>
        <td><%= link_to 'Detalles', product %></td>
        <td><%= link_to 'Editar', edit_product_path(product) %></td>
        <td><%= link_to 'Eliminar', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo producto', new_product_path %>
