<h1>Listing sales</h1>

<table>
  <thead>
    <tr>
      <th>Usuario</th>
      <th>Fecha</th>
      <th>Client</th>
      <th>Importetotal</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @sales.each do |sale| %>
      <tr>
        <td><%= sale.usuario_id %></td>
        <td><%= sale.fecha %></td>
        <td><%= sale.client_id %></td>
        <td><%= sale.importetotal %></td>
        <td><%= link_to 'Visualizar detalle', sale %></td>
        <%#<td><%#= link_to 'Edit', edit_sale_path(sale) ></td>
        <td><%#= link_to 'Destroy', sale, method: :delete, data: { confirm: 'Are you sure?' } ></td>%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Sale', new_sale_path %>
