<!DOCTYPE html>
<html>
<head>
  <title>Libreria Roka</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="navbar navbar-fixed-top">
		  <div class="navbar-inner">
		    <div class="container">
		      <div class="brand" >BOOK'S LIGHT</div>			    
		    </div>
		    <div class="container">
		    <div class="nav-collapse">
		        <ul class="nav nav-pills">		          	
		          <li><%= link_to 'Libros', products_path %></li>
				  <li><%= link_to 'Promociones', promotions_path %></li>
				  <li><%= link_to 'Clientes', clients_path %></li>
				  <li><%= link_to 'Pedidos', orders_path %></li>
				  <li><%= link_to 'Ventas', sales_path %></li>
				  <li><%= link_to 'Proveedores', providers_path %></li>
				  <li><%= link_to 'Usuarios', users_path %></li>
			  	  <li><%= link_to 'Categorias', categories_path %></li>
				  <li><%= link_to 'Reportes' %></li>					
		        </ul>		        	
		      </div>
		      </div>
		  </div>
		</div>	
	<%= yield %>
	</div>
</body>
</html>
