<p id="notice"><%= notice %></p>

<p>
  <strong>Sale:</strong>
  <%= @sale_detail.sale_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @sale_detail.product_id %>
</p>

<p>
  <strong>Importetotal:</strong>
  <%= @sale_detail.importetotal %>
</p>

<p>
  <strong>Preciounitario:</strong>
  <%= @sale_detail.preciounitario %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @sale_detail.cantidad %>
</p>

<p>
  <strong>Descuento:</strong>
  <%= @sale_detail.descuento %>
</p>

<%= link_to 'Edit', edit_sale_detail_path(@sale_detail) %> |
<%= link_to 'Back', sale_details_path %>
